body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #c3daf9;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #439696;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #439696;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #439696;
}

a {
    color: #439696;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}

a:hover {
    color: #eaf6f6;
}

hr {
    border: 10px dotted #ececec;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

.avatar {
    width: 100%;
    margin-bottom: 50px;
}

.top-container {
    background-image: linear-gradient(to right, #c7dcf7 0%, #bcd2f7 29%, #b7cff3 47%, #b8cced 67%, #b8cdec 83%, #bdcee8 100%);
    position: relative;
    padding-top: 100px;
    height: 100vh;
}

.bottom-container {
    padding: 70px 0 20px;
    background-color: #66BFBF;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.right-cloud {
  position: absolute;
  right: 350px;
  bottom: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.js-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.beer-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile-description {
    width: 30%;
    margin: auto;
}

.contact-me {
    margin-bottom: 100px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #11Cdd4 2px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

/* Arrow button */
.container-arrow{
  text-align: center;
  width: 100%;
}

/* Arrow bouncing */
.container-arrow span{ 
  display: inline-block; 
  font-size: 80px;	 
  animation: .7s down  infinite alternate; 
  -webkit-animation: .7s down infinite alternate; 

} 
/* Animation arrow down */ 
@keyframes down{ 0%{transform:translateY(0px)} 100%{transform:translateY(20px)} } 
@-webkit-keyframes down{ 0%{-webkit-transform:translateY(0px)} 100%{-webkit-transform:translateY(20px)} } 
  